<%- include('header.ejs', {titleDual:{ top: 'Hodinová' , bottom: 'Předpověď' }, hasTime: true }) %>
	<div class="main has-scroll hourly">
		<div class="column-headers">
			<div class="temp">TEPL</div>
			<div class="like">POCIT</div>
			<div class="wind">VÍTR</div>
		</div>
		<div class="hourly-lines">
			<div class="hourly-row template">
				<div class="hour"></div>
				<div class="icon"><img /></div>
				<div class="temp"></div>
				<div class="like"></div>
				<div class="wind"></div>
			</div>
		</div>
	</div>
	<%- include('scroll.ejs') %>